/* https://github.com/adobe-fonts/source-serif/blob/release/source-serif-variable.css */
@font-face{
    font-family: 'Source Serif VF';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/SourceSerif4Variable-Roman.ttf.woff2') format('woff2-variations');
}

@font-face{
    font-family: 'Source Serif VF';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/SourceSerif4Variable-Italic.ttf.woff2') format('woff2-variations');
}

/* https://github.com/adobe-fonts/source-sans/blob/release/source-sans-3VF.css */
@font-face{
    font-family: 'Source Sans 3 VF';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/SourceSans3VF-Upright.ttf.woff2') format('woff2-variations');
}

@font-face{
    font-family: 'Source Sans 3 VF';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/SourceSans3VF-Italic.ttf.woff2') format('woff2-variations');
}

/* https://github.com/adobe-fonts/source-code-pro/blob/release/source-code-variable.css */
@font-face{
    font-family: 'Source Code VF';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/SourceCodeVF-Upright.ttf.woff2') format('woff2-variations');
}

@font-face{
    font-family: 'Source Code VF';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/SourceCodeVF-Italic.ttf.woff2') format('woff2-variations');
}
