    </main>
    <footer class="wrapped-list-container">
      <ul>
        <li>Codeur·euses en Liberté</li>
        <li><a href="/a-propos/legal/">Mentions légales</a></li>
        <li><a href="https://gitlab.com/CodeursEnLiberte/www">Sources du site</a></li>
        <li>{{ with .OutputFormats.Get "rss" -}}<a href="{{ .Permalink | safeURL }}">RSS</a>{{ else }}<a href="/index.xml">RSS</a>{{ end -}}</li>
        <li>Licence du site : <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/fr/">CC-BY-SA</a></li>
      </ul>
    </footer>
  </body>
</html>
