<dialog id="greve_dialog">
  <form method="dialog">
    <h2>POUR LE NOUVEAU FRONT POPULAIRE</h2>
    <p>
      L’union de la gauche et la création d’un nouveau Front Populaire, en 2024, peut nous permettre, en cas de victoire électorale et de mobilisation, de réaliser, à nouveau, un grand pas en avant, comme ce fut le cas en 1936 avec l’instauration des congés payés et la réduction du temps de travail.
    </p>
    <p>
      <a href="https://frontpopulaire.coop" target="_blank">Signer l’appel sur frontpopulaire.coop</a>
    </p>
    <button>Fermer</button>
  </form>
</dialog>

<header id="greve_banner">
  <h2>POUR LE NOUVEAU FRONT POPULAIRE</h2>
  <p>
    L’union de la gauche et la création d’un nouveau Front Populaire, en 2024, peut nous permettre, en cas de victoire électorale et de mobilisation, de réaliser, à nouveau, un grand pas en avant, comme ce fut le cas en 1936 avec l’instauration des congés payés et la réduction du temps de travail.
  </p>
  <p>
    <a href="https://frontpopulaire.coop" target="_blank">Signer l’appel sur frontpopulaire.coop</a>
  </p>
</header>

<style>
  dialog#greve_dialog {
    padding: 0; /* remove padding of the dialog so that clicks inside the dialog are handled by the form */
    > form { padding: 1em; };
    
    inset-block-end: 20%; /* move slightly up */
    max-width: min(100%, 40em); /* and reasonable max-width */
    
    &:focus-visible { outline: none; }
    &::backdrop {
      background: linear-gradient(75deg, black 50%, var(--darker-red-text) 70%);
      background-color: black;
      opacity: 85%;
    }
    h2 { margin-block-start: 0; }
    button { height: 2em; }
  }
  body:has(dialog#greve_dialog[open]) {
    filter: blur(4px)
  }
  
  header#greve_banner {
    background: black;
    color: white;
    text-align: center;
    padding: 1em 2em;
  }
</style>

<script>
  greve_dialog.onclick = (e) => { if (e.target === greve_dialog) { greve_dialog.close() } };
  greve_dialog.showModal();
</script>
