<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#efefef">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#121212">
  <title>{{ if ne .RelPermalink "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>
  {{ if .IsPage }}
  <meta name="description" content="{{ .Description | default .Summary }}">
  {{ else }}
  <meta name="description" content="{{ .Site.Params.description }}">
  {{ end }}
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/fonts.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/site.webmanifest" />
  {{ with .OutputFormats.Get "rss" -}}
  <link rel="{{ .Rel }}" type="application/rss+xml" href="{{ .Permalink | safeURL }}"
    title="{{ $.Site.Title }} – {{ $.Title }}">
  {{ else }}
  <link rel="alternate" type="application/rss+xml" href="/index.xml" title="{{ $.Site.Title }}">
  {{ end -}}
  <link rel="preload" href="/fonts/SourceSans3VF-Upright.ttf.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/fonts/SourceSans3VF-Italic.ttf.woff2" as="font" type="font/woff2" crossorigin="anonymous">
</head>

<body>
  <!-- {{ partial "greve.html" }}   -->
  <nav class="navbar">
    <a class="navbar__home" href="/">{{ .Site.Title }}</a>
    <a class="navbar__logo" href="/"><img src="/logo.svg" alt="Logo Codeur·euses en Liberté"></a>
    <div class="navbar__items">
      <div class="navbar__item">
        <a href="/a-propos/qui/">à propos</a>
      </div>
      <div class="navbar__item">
        <a href="/a-propos/idees/">idées</a>
      </div>
      <div class="navbar__item">
        <a href="/blog/">blog</a>
      </div>
    </div>
  </nav>

  <main>
