<div class="bio">
  <h3 id={{ .Get "id" }} class="bio__name">{{ .Get "name" }}</h3>
  <img src="/bios/{{ .Get "pic" }}" alt="{{ .Get "name" }}" title="{{.Get "pic_copyright"}}" class="bio__pic">
  <p>
    <svg class="icon"><use href="/img/icons.svg#fa-heart"/></svg>
    {{ .Get "hearts" }}
  </p>
  <div class="bio__desc">{{.Inner}}</div>
</div>
